[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylemmy = "*"
numpy = "*"
pandas = "*"
torch = "1.13.0"
torchtext = "0.14.0"
mypy-extensions = "*"
matrix-client = "*"
scikit-learn = "*"
wheel = "*"

[dev-packages]

[requires]
python_version = "3.10"
