[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
torch = "*"
torchdata = "*"
torchtext = "==0.15.2"
format_duration = "*"
mypy-extensions = "*"
matrix-client = "*"
scikit-learn = "*"
pydantic="*"
wheel = "*"
imagehash = "*"
requests = "*"
loguru = "*"
aiostream = "*"
python-magic = "*"
pykson = "*"
libmagic = "*"
plemmy = "==0.4.1"
sqlalchemy = "*"
alembic = "*"
pytest = "*"
mistletoe = "*"

[dev-packages]

[requires]
python_version = "3.9"
