-i https://pypi.org/simple
aiostream==0.4.5
certifi==2023.7.22 ; python_version >= '3.6'
charset-normalizer==3.3.0 ; python_full_version >= '3.7.0'
cmake==3.27.7
filelock==3.12.4 ; python_version >= '3.8'
idna==3.4 ; python_version >= '3.5'
imagehash==4.3.1
jinja2==3.1.2 ; python_version >= '3.7'
joblib==1.3.2 ; python_version >= '3.7'
lit==17.0.3
loguru==0.7.2 ; python_version >= '3.5'
markupsafe==2.1.3 ; python_version >= '3.7'
matrix-client==0.4.0
mpmath==1.3.0
mypy-extensions==1.0.0 ; python_version >= '3.5'
networkx==3.1 ; python_version >= '3.8'
numpy==1.26.0 ; python_version < '3.13' and python_version >= '3.9'
nvidia-cublas-cu11==11.10.3.66 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-cupti-cu11==11.7.101 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-nvrtc-cu11==11.7.99 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cuda-runtime-cu11==11.7.99 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cudnn-cu11==8.5.0.96 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cufft-cu11==10.9.0.58 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-curand-cu11==10.2.10.91 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cusolver-cu11==11.4.0.1 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-cusparse-cu11==11.7.4.91 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-nccl-cu11==2.14.3 ; platform_system == 'Linux' and platform_machine == 'x86_64'
nvidia-nvtx-cu11==11.7.91 ; platform_system == 'Linux' and platform_machine == 'x86_64'
pandas==2.1.1 ; python_version >= '3.9'
pillow==10.1.0 ; python_version >= '3.8'
pydantic==1.10.13 ; python_version >= '3.7'
pylemmy==0.0.6 ; python_version >= '3.7'
python-dateutil==2.8.2 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-magic==0.4.27
pytz==2023.3.post1
pywavelets==1.4.1 ; python_version >= '3.8'
requests==2.31.0 ; python_version >= '3.7'
scikit-learn==1.3.1 ; python_version >= '3.8'
scipy==1.11.3 ; python_version < '3.13' and python_version >= '3.9'
setuptools==68.2.2 ; python_version >= '3.8'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sympy==1.12 ; python_version >= '3.8'
threadpoolctl==3.2.0 ; python_version >= '3.8'
torch==2.0.1 ; python_full_version >= '3.8.0'
torchdata==0.6.1 ; python_version >= '3.8'
torchtext==0.15.2 ; python_version >= '3.8'
tqdm==4.66.1 ; python_version >= '3.7'
triton==2.0.0 ; platform_system == 'Linux' and platform_machine == 'x86_64'
typing-extensions==4.8.0 ; python_version >= '3.8'
tzdata==2023.3 ; python_version >= '2'
urllib3==1.26.18 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
wheel==0.41.2 ; python_version >= '3.7'
